<div class = "controlsContainer">


<h2>Generation #{{currentGen}}</h2>

  <div class="motionControls">
 <div calss = "goTo">
  <h5>Go to GEN# </h5>
  <input class="goToInput" [(ngModel)]="goToGenNum" type="number" (keyup.enter)="goToGen()">
   <button pButton type="button" label="Go" class="ui-button-success ui-button-raised ui-button-rounded" (click) = "goToGen()"></button>
 </div>
  <div class="controlButtons">
    <button pButton type="button" label="prev" class="ui-button-success ui-button-raised ui-button-rounded" [disabled]="currentGen == 0" (click) = "previousGen()"></button>
    <button *ngIf="isStartBtnEnabled" pButton type="button" label="start" class="ui-button-success ui-button-raised ui-button-rounded" (click) = "start()"></button>
    <button *ngIf="!isStartBtnEnabled" pButton type="button" label="stop" class="ui-button-warning ui-button-raised ui-button-rounded" (click) = "stop()"></button>
    <button pButton type="button" label="next" class="ui-button-success ui-button-raised ui-button-rounded" (click) = "nextGen()"></button>
  </div>
  <h3>Speed: {{speedLabel}}</h3>

  <p-slider class = "speedSlider" [(ngModel)]="speed" [min]="1" [max]="3" [style]="{'width':'14em'}" (onChange)="getSpeedLabel()"></p-slider>

  </div>

  <div class="sizeControls">
    <h3>Game Size: {{gameSize}}</h3>
    <p-slider [(ngModel)]="gameSize" [min]="10" [max]="40" [style]="{'width':'14em'}" (onChange)="enableApplyBtn()"></p-slider>
    <div class = "applyBtn">
      <button pButton type="button" [label]="(isApplyBtnDisabled || gameSize == previousGameSize) ? 'Clear':'Apply'" class="ui-button-raised ui-button-rounded" (click) = "resizeGame()"></button>

    </div>
  </div>
  <div class="stats">
    <button pButton type="button" label="Save" class="ui-button-raised ui-button-rounded" (click) = "saveGame()"></button>
    <button pButton type="button" label="Load" class="ui-button-raised ui-button-rounded" (click) = "loadGame(fileInput.files[0])"></button>
    <input #fileInput type="file" accept="application/json">
  </div>
</div>
