<div class = "controlsContainer">


  <button pButton type="button" label="NextGen" class="ui-button-success ui-button-raised ui-button-rounded" (click) = "nextGen()"></button>
  <div>
    <h3>Game Size: {{gameSize}}</h3>
    <p-slider [(ngModel)]="gameSize" [min]="10" [max]="40" [style]="{'width':'14em'}" (onChange)="enableApplyBtn()"></p-slider>
    <div class = "applyBtn">
      <button pButton type="button" label="Apply" class="ui-button-raised ui-button-rounded" [disabled]="isApplyBtnDisabled" (click) = "resizeGame()"></button>
    </div>
  </div>
</div>
