<div class = "controlsContainer">


<h2>Generation #{{currentGen}}</h2>

  <div class="motionControls">
 <div calss = "goTo">
  <h5>Go to GEN# </h5>
  <input class="goToInput" [(ngModel)]="goToGenNum" type="number" (keyup.enter)="goToGen()">
   <button pButton type="button" label="Go" class="ui-button-success ui-button-raised ui-button-rounded" [disabled]="vitalService.game.history.length == 0" (click) = "goToGen()"></button>
 </div>
  <div class="controlButtons">
    <button pButton type="button" label="prev" class="ui-button-success ui-button-raised ui-button-rounded" [disabled]="currentGen == 0" (click) = "previousGen()"></button>
    <button *ngIf="isStartBtnEnabled" pButton type="button" label="start" class="ui-button-success ui-button-raised ui-button-rounded" (click) = "start()"></button>
    <button *ngIf="!isStartBtnEnabled" pButton type="button" label="stop" class="ui-button-warning ui-button-raised ui-button-rounded" (click) = "stop()"></button>
    <button pButton type="button" label="next" class="ui-button-success ui-button-raised ui-button-rounded" (click) = "nextGen()"></button>
  </div>
  <h3>Speed: {{speedLabel}}</h3>

  <p-slider class = "speedSlider" [(ngModel)]="speed" [min]="1" [max]="3" [style]="{'width':'14em'}" (onChange)="getSpeedLabel()"></p-slider>

  </div>

  <div class="sizeControls">
    <h3>Game Size: {{gameSize}}</h3>
    <p-slider [(ngModel)]="gameSize" [min]="10" [max]="30" [style]="{'width':'14em'}" (onChange)="enableApplyBtn()"></p-slider>
    <div class = "applyBtn">
      <button pButton type="button" [label]="(isApplyBtnDisabled || gameSize == previousGameSize) ? 'Clear':'Apply'" class="ui-button-raised ui-button-rounded" (click) = "resizeGame()"></button>

    </div>
  </div>

    <div class = "stats">
      <div>
        <h6>Cells born: {{stats.bornAllGame}}</h6>
        <h6>Cells died: {{stats.diedAllGame}}</h6>
        <h6>Eldest cell age: {{stats.eldestCellAge}}</h6>
      </div>
      <div>
        <h6>Born Prev Gen: {{stats.bornLastGameState}}</h6>
        <h6>Born Current Gen: {{stats.bornCurrentGameState}}</h6>
        <h6>Population Prev Gen: {{stats.population}}</h6>
        <h6>Population Current Gen: {{stats.currentPopulation}}</h6>
        <h6>Died Prev Gen: {{stats.diedLastGameState}}</h6>
      </div>
    </div>
  <div class="saveLoad">
    <button pButton type="button" label="Save" class="ui-button-raised ui-button-rounded" (click) = "saveGame()"></button>
    <label for="fl" ><span>Load</span></label>
    <input #fileInput id = "fl" type="file" accept="application/json" style="opacity: 0" (change)="loadGame(fileInput.files[0])">
  </div>
</div>
