.controlsContainer div{

}
.applyBtn {
  margin: 10px 3px;
}

h3 {
  color: #007ad9;

}

.sizeControls h3 {
  margin-top: 0em;
}

h5 {
  display: inline;
}

.goToInput {
  width: 5em;
  margin: 0 1em;
}

.controlButtons {
  margin-top: 1em;
}

.motionControls, .sizeControls, .stats {
  display: inline-block;
  margin: 0.5em 2em;
  vertical-align: top;
}
